textarea {
	display: block;
	position: absolute;
	top: 80px;
	width: calc(100% - 32px);
	height: calc(100% - 64px - 32px);
	padding: 0;
	resize: none;
	border: none;
	font-size: 16px;
}

textarea:focus {
	outline: none;
}

textarea.hide {
	display: none;
}
