.textarea {
	width: 100%;
	height: 100%;
	padding: var(--f7-block-margin-vertical);
	padding-bottom: var(--f7-block-margin-vertical);
	padding-left: calc(var(--f7-block-padding-horizontal) + var(--f7-safe-area-left));
	padding-right: calc(var(--f7-block-padding-horizontal) + var(--f7-safe-area-right));
	resize: none;
	border: none;
	font-size: 1.3em;
}
textarea:focus {
	outline: none;
}
