/* Modules */
@import './modules/theme.css';
@import './modules/white-space-initial.css';

/* Pages */
@import './pages/Notes.css';

html:not(.ios) .ios-only {
	display: none;
}

.user-photo {
	height: 32px;
	border-radius: 50%;
}
