html {
	overscroll-behavior: none;
	overflow: hidden;
	/* Prevent iOS text size adjust after orientation change */
	-webkit-text-size-adjust: 100%;
	height: 100vh;
	min-height: -webkit-fill-available;
}

body {
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: #ee6e00;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	max-width: 8px;
	max-height: 8px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: #ccc;
}
::-webkit-scrollbar-thumb:hover {
	background: #aaa;
}
::-webkit-scrollbar-thumb:active {
	background: #888;
}
::-webkit-scrollbar-button {
	background: #ccc;
	height: 0;
	width: 0;
}
