@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply overflow-hidden overscroll-none;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
  }

  body {
    @apply bg-primary;
  }

  /* Scrollbar styles */
  ::-webkit-scrollbar {
    max-width: 8px;
    max-height: 8px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400;
  }
  ::-webkit-scrollbar-thumb:active {
    @apply bg-gray-500;
  }
  ::-webkit-scrollbar-button {
    @apply w-0 h-0;
  }

  /* Toast styles */
  .Toastify__toast {
    @apply m-4;
  }
}

@layer utilities {
  .text-link {
    @apply underline text-primary hover:text-current;
  }

  .pwa-header {
    left: env(titlebar-area-x, 0);
    top: env(titlebar-area-y, 0);
    width: env(titlebar-area-width, 0);
    height: env(titlebar-area-height, 0);
  }

  .drag {
    -webkit-app-region: drag;
    app-region: drag;
  }
  .no-drag {
    -webkit-app-region: no-drag;
    app-region: no-drag;
  }
}
