@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(./fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local('Material Icons'),
		local('MaterialIcons-Regular'),
		url(./fonts/MaterialIcons-Regular.woff2) format('woff2'),
		url(./fonts/MaterialIcons-Regular.woff) format('woff'),
		url(./fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

/* Not sure if I should be forcing the scrollbar to hide */
::-webkit-scrollbar {
	display: none;
}

.white-space-initial,
.white-space-initial span,
.white-space-initial .item-title {
	white-space: initial;
}

/* Notes Page */
.textarea {
	height: calc(100% - 64px);
}
.textarea.hide,
.markdown.hide {
	display: none;
}

textarea {
	width: 100%;
	height: 100%;
	padding: 0;
	resize: none;
	border: none;
	font-size: 1.3em;
}
textarea:focus {
	outline: none;
}

html:not(.ios) .ios-only {
	display: none;
}
